<a href="https://colab.research.google.com/github/VineelaVB/Vineela_INFO5502_summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
from random import randint
for random_int in range(13):
  rand_list = [randint(1, 100) for _ in range(random_int)]
print('The list is: ', rand_list)
rand_list.sort()
print('List in ascending order: ', rand_list)
#rev = rand_list.sort(reverse = True)
rev=sorted(rand_list, reverse=True)
print('List in descending order: ', rev)
ave = sum(rev) / len(rev)
print('The average is: ', ave)

The list is:  [66, 15, 12, 97, 20, 19, 65, 23, 83, 16, 8, 95]
List in ascending order:  [8, 12, 15, 16, 19, 20, 23, 65, 66, 83, 95, 97]
List in descending order:  [97, 95, 83, 66, 65, 23, 20, 19, 16, 15, 12, 8]
The average is:  43.25

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [2]:
# Your code here
import math
print('r     V')
for r in range(1,10):
  V = 4/3 * math.pi * r**3
  print(r, '   ', V)

r     V
1     4.1887902047863905
2     33.510321638291124
3     113.09733552923254
4     268.082573106329
5     523.5987755982989
6     904.7786842338603
7     1436.7550402417319
8     2144.660584850632
9     3053.6280592892786

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
import pandas as pd
import statistics

data = pd.read_csv('/content/lab_assignment_02_denton_housing.csv')
print('Shape: ',data.shape)
print(data.head())


# (1) Calculate the difference in the number of Occupied Housing Units from year to year and print it.
# The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc.
# Finally, print the values in the ascending order.

# number of ocupied houses
occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_house = [list(occuped_houses['value'].values)[loop1] - list(occuped_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occuped_houses)-1)]
diff_house = sorted(diff_house)    # sorting in ascending order
print('Difference in the number of Occupied Housing Units from year to year: ',diff_house)

Shape:  (42, 3)
   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215
Difference in the number of Occupied Housing Units from year to year:  [-5091, -2622, -1565, -1404, 303, 795]

In [ ]:
# (2) For all the years, calculate the percentage of housing units which are vacant and occupied.
# Print the results in the following format: Year Vacant Housing Units Occupied Housing Units
import numpy as np
unique_years = sorted(list(data['year'].unique()))   # legging list of unique year number


# number of ocupied houses
occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant houses
vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occuped_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                          for loop1 in range(len(new_house_df))]

df = pd.DataFrame(new_house_df)
df = df.drop(df.loc[:, ['Vacant House', 'Occupied House']], axis=1)
df

   year  Percent of Vacant House  Percent of Occupied House
0  2008                10.882653                  89.117347
1  2009                 9.071116                  90.928884
2  2010                 8.142556                  91.857444
3  2011                 9.379522                  90.620478
4  2012                 6.677600                  93.322400
5  2013                 8.801788                  91.198212
6  2014                 5.730111                  94.269889

In [ ]:
# (3) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.
# Print the results in the following format:

# the highest number of vacant housing units
max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses

    year           title_field  value
19  2008  Vacant Housing Units   4483

In [ ]:
# the highest number of Occupied housing units
max_occuped_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occuped_houses[occuped_houses['value'] == max_occuped_houses]

occupied_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [ ]:
# (4) Calculate the harmonic mean of the total housing units and print it out.

print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185